---
layout:  default
title:   COPASI's Use In Research
section: Research
---
{% include articles.html %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ page.title }}</h1> 
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-body">
            <p>COPASI is widely used in many research projects for:
              <ul>
                <li>modeling biological, biochemical, and chemical systems,</li>
                <li>in the development of theory and computational methods,</li>
                <li>in the development of "wet" laboratory methods,</li>
                <li>and as a part of other software tools.</li>
              </ul>
              Here is a list of all publications that used COPASI to obtain 
              results, organized by year. There are <font color="red">links</font>
              to the full papers and tags by field of research.
            </p>
          </div>
          <div class="media-right">
            <img class="media-object" src="/images/COPASI-pubs.png" alt="publications per year plot">
            <a href="{{ site.baseurl }}/Research/Map">
              <img class="media-object" src="/images/COPASI-Map-320x160.png" alt="Map">
            </a>
            <center>
              <span style="font-size: 75%;">Where is COPASI used? Click for interactive map</span>
              </center>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-lg hidden-md hidden-sm">
      <div class="col-xs-12">
        <p>COPASI is widely used in many research projects for:
          <ul>
            <li>modeling biological, biochemical, and chemical systems,</li>
            <li>in the development of theory and computational methods,</li>
            <li>in the development of "wet" laboratory methods,</li>
            <li>and as a part of other software tools.</li>
          </ul>
          Below is a list of all publications that used COPASI to obtain 
          results, organized by year. There are <font color="red">links</font>
          to the full papers and tags by field of research.
        </p>
        <center>
          <img class="media-object" src="/images/COPASI-pubs.png" alt="publications per year plot">
          <a href="{{ site.baseurl }}/Research/Map">
            <img class="media-object" src="/images/COPASI-Map-320x160.png" alt="Map">
          </a>
          <span style="font-size: 75%;">Where is COPASI used? Click for interactive map</span>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% for year in cps_article_years %}
        <div class="panel panel-default">
          {% assign count = 0 %}
          <div class="panel-heading">{{ year }}</div>
          {% for item in site.data.articles.db %}
          {% assign delta = item.Year | minus: year %}
          {% if delta == 0 %}
          <div class="panel-body" style="padding-bottom:0" >
            {{ item.Reference }}
            {% assign count = count | plus: 1 %}
            {% for key in item.Keywords %}
            <a href="{{ site.baseurl }}/Research/{{ key }}" target="_blank"><span class="label label-default">{{ key }}</span></a>
            {% endfor %}
            <a href="{{ item.URL }}" target="_blank">Link</a>
          </div>
          {% endif %}
          {% endfor %}
          <br/>
          {% if count < 2 %}
              <div class="panel-heading">{{ count }} publication</div>
          {% else %}
              <div class="panel-heading">{{ count }} publications</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div> 
  </div>
</div>

