---
layout:  default
title:   COPASI's Use In Research
section: Research
---
{% include articles.html %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ page.title }}</h1> 
        <table border="0"><tr>
        <td>
        <p>COPASI is widely used in many research projects for:
         <ul>
          <li>modeling biological, biochemical, and chemical systems,</li>
          <li>in the development of theory and computational methods,</li>
          <li>in the development of "wet" laboratory methods,</li>
          <li>and as a part of other software tools.</li>
         </ul>
         Below is a list of publications where COPASI has been used
         in any of these roles, tagged by their fields of research. It may be 
         instructive for researchers to learn how other colleagues applied 
         COPASI to their research problems. Check out these publications 
         for details!</p>
         </td>
         <td><img src="/images/COPASI-Map-320x160.png"></td>
        </tr></table>
        {% for year in cps_article_years %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ year }}</div>
          {% for item in site.data.articles.db %}
          {% assign delta = item.Year | minus: year %}
          {% if delta == 0 %}
          <div class="panel-body" style="padding-bottom:0" >
            {{ item.Reference }} 

            {% for key in item.Keywords %}
            <span class="label label-default">{{ key }}</span>
            {% endfor %}

            <a href="{{ item.URL }}" target="_blank">Link</a>
          </div>
          {% endif %}
          {% endfor %}
          <br/>
        </div>
        {% endfor %}
      </div>
    </div> 
  </div>
</div>

