    <footer class="section section-primary" style="padding-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <a href="https://groups.google.com/g/copasi-user-forum"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/Forum.png" ></a>
            <a rel="me" href="https://fosstodon.org/@copasi"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/Mastodon_42x42.png" ></a>
            <a href="https://www.youtube.com/@CopasiTutorials/videos"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/YouTube_42x42.png">
            <a href="https://twitter.com/COPASI_software" target="_blank"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/twitter.png"></a>
            <a href="https://github.com/copasi/COPASI" target="_blank"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/GitHub-Mark-32px.png"></a>
            <p>Published with <a href="https://pages.github.com" target="_blank">GitHub Pages</a> | <a href="{{ site.baseurl }}/Terms/" target="_blank">Terms</a>  </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
