    <footer class="section section-primary" style="padding-top: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <a href="https://groups.google.com/g/copasi-user-forum"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/Forum.png" ></a>
            <a rel="me" href="https://fosstodon.org/@copasi"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/Mastodon_42x42.png" ></a>
            <a href="https://www.youtube.com/@CopasiTutorials/videos"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/YouTube_32x24.png">YouTube</a></p>
            <a href="https://twitter.com/COPASI_software" target="_blank"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/twitter.png"></a>
            <a href="https://github.com/copasi/COPASI" target="_blank"><img style="display: inline; padding: 5px;" width="42px" height="42px" src="{{ site.baseurl }}/images/GitHub-Mark-32px.png"></a>
            <p>Published with <a href="https://pages.github.com" target="_blank">GitHub Pages</a> | <a href="{{ site.baseurl }}/Terms/" target="_blank">Terms</a>  </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
{% if page.no_google_analytics == nil %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66473509-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
{% endif %}
</html>
