<div class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="COPASI" src="{{ site.baseurl }}/images/COPASI-light.png"></a>
    <div class="navbar-header" style="min-height: 80px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if cps_path.first == "Home" %} class="active" {% endif %} >
          <a title="COPASI Home Page" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li {% if cps_path.first == "Download" %} class="active" {% endif %} >
          <a title="Download" href="{{ site.baseurl }}/Download/">Download</a>
        </li>
        <li {% if cps_path.first == "Research" %} class="active" {% endif %} >
          <a title="Research" href="{{ site.baseurl }}/Research/">Research</a>
        </li>
        <li class="dropdown{% if cps_path.first == "Support" %} active{% endif %}">
          <a title="Support" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a title="Support Overview" href="{{ site.baseurl }}/Support/">Overview</a></li>
            <li role="separator" class="divider"></li>
            <li><a title="Video Tutorials" href="{{ site.baseurl }}/Support/Video_Tutorials/">Video Tutorials</a></li>
            <li><a title="User Forum" href="{{ site.baseurl }}/Support/User_Forum/">User Forum</a></li>
            <li><a title="Manual" href="{{ site.baseurl }}/Support/User_Manual/">Manual</a></li>
            <li><a title="Features" href="{{ site.baseurl }}/Support/Features/">Features</a></li>
            <li><a title="Installation" href="{{ site.baseurl }}/Support/Installation/">Installation</a></li>
            <li><a title="Publications" href="{{ site.baseurl }}/Support/Publications/">Publications</a></li>
            <li><a title="Change History" href="{{ site.baseurl }}/Support/Change_History/">Change History</a></li>
            <li><a target="_blank" title="Issue Tracker" href="http://tracker.copasi.org">Issue Tracker</a></li>
            <li><a title="Technical Documatation" href="{{ site.baseurl }}/Support/Technical_Documentation/">Technical Documentation</a></li>
          </ul>
        </li>
        <li class="dropdown{% if cps_path.first == "Projects" %} active{% endif %}">
          <a title="Projects" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a title="Multistate Model Builder" href="{{ site.baseurl }}/Projects/Multistate_Model_Builder/">Multistate Model Builder</a></li>
            <li><a title="JigCell Run Manager 2.0" href="{{ site.baseurl }}/Projects/JigCell_Run_Manager_2_0/">JigCell Run Manager 2.0</a></li>
            <li><a title="JigCell Model Connector" href="{{ site.baseurl }}/Projects/JigCell_Model_Connector/">JigCell Model Connector</a></li>
	    <li><a title="Piecewise parameter fitting with COPASI" href="{{ site.baseurl }}/Projects/piecewise_parameter_fitting/"> Piecewise parameter fitting</a></li>
          </ul>
        </li>
        <li {% if cps_path.first == "Events" %} class="active" {% endif %} >
          <a title="Events" href="{{ site.baseurl }}/Events/">Events</a>
        </li>
        </li>
        <li class="dropdown{% if cps_path.first == "About" %} active{% endif %}">
          <a title="About" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a title="Team" href="{{ site.baseurl }}/About/Team/">Team</a></li>
            <li><a title="Funding" href="{{ site.baseurl }}/About/Funding/">Funding</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
