---
title: Redirect
section: Home
sitemap: false
---

{% include header.html %}
{% include navbar.html %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="ErrorMessage">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">   
  var e = document.getElementById('ErrorMessage');

  e.innerHTML = '<h1>Page Moved (You will be redirected shortly)</h1>'
  e.innerHTML += '<p>The page you are looking for has moved. Please update your link!</p>';
  e.innerHTML += '<p>&nbsp;&nbsp;' + window.location.href + '</p>';
  e.innerHTML += '<p>to</p>';
  e.innerHTML += '<p>&nbsp;&nbsp;{{ site.baseurl }}/static/API_Documentation/</p>';
  
  $(document).ready(function () {
    // Handler for .ready() called.
  
    window.setTimeout(function () {
      location.href = "{{ site.baseurl }}/static/API_Documentation/";
    }, 5000);
  })  
</script>

{% include footer.html %}
