---
layout: default
---

<div class="row">
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" width="64px;" heigth="64px;" src="{{ site.baseurl }}/images/post/{{ page.topic }}.png"  alt="{{ page.topic }}">
        </a>
      </div>
      <div class="media-body">
        <h1 class="media-heading">{{ page.title }}</h1>
        <p>{{ page.author }}: {{ page.date }}</p>
      </div>
    </div>    

    {{ content }}

  </div>
</div>
